@tailwind base;
@tailwind components;
@tailwind utilities;

@import "https://fonts.googleapis.com/css2?family=Gowun+Batang:wght@400;700&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap";

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

html.lenis,
html.lenis body {
  height: auto;
}

html.lenis {
  overflow-x: hidden;
  width: 100%;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}

html {
  scroll-behavior: smooth;
}
li {
  margin-left: 10px;
  margin-right: 10px;
  font-size: 16px;
  font-weight: bold;
  font-family: "Noto Serif JP", serif;
  color: rgb(209, 208, 208);
  transition: all 0.2s ease-in-out;
}

li:hover {
  color: rgb(255, 255, 255);
  cursor: pointer;
}

@media (max-width: 1024px) {
  li {
    font-size: 14px;
    margin-left: 5px;
    margin-right: 5px;
  }
}

@media (max-width: 768px) {
  li {
    font-size: 12px;
    margin-left: 5px;
    margin-right: 5px;
  }
}
@media (max-width: 480px) {
  li {
    font-size: 10px;
    margin-left: 5px;
    margin-right: 5px;
  }
}
