@tailwind base;
@tailwind components;
@tailwind utilities;

/* font */
@import "https://fonts.googleapis.com/css2?family=Gowun+Batang:wght@400;700&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap";
@import "https:fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap";

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .footer-nav {
    display: flex;
    width: 50%;
    flex-direction: column;
    padding-top: 10px;
  }

  .footer-title {
    width: 100%;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
  }

  .link-container {
    display: flex;
    position: relative;
    flex-direction: column;
    transition: all 0.3s ease-in-out;
    opacity: 1;
    text-align: center;
    height: 270px;
    opacity: 0;
    background-color: rgb(200, 200, 200);
  }
  .link {
    cursor: pointer;
    padding: 15px 5px 0px 5px;
    color: black;
    font-size: 14px;
    font-family: "PT Serif", serif;
    font-weight: 500;
  }

  .get-down {
    transition: all 0.3s ease-in-out;
    position: relative;
    top: -200px;
  }

  .hover-nav:hover .link-container {
    opacity: 1;
  }

  .footer-title:hover {
    cursor: default;
  }
  .hover-nav:hover .get-down {
    transform: translateY(210px);
    padding-bottom: 20px;
  }

  .hover-effect {
    @apply relative block cursor-pointer;
  }

  .hover-effect:before,
  .hover-effect:after {
    content: "";
    position: absolute;
    width: 0%;
    height: 1px;
    top: 50%;
    margin-top: -0.5px;
    background: #fff;
  }

  .hover-effect:before {
    left: -2.5px;
  }

  .hover-effect:after {
    right: 2.5px;
    background: #fff;
    transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
  }

  .hover-effect:hover:before {
    background: #fff;
    width: 50%;
    transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
  }

  .hover-effect:hover:after {
    background: transparent;
    width: 100%;
    transition: 0s;
  }
}

html.lenis,
html.lenis body {
  height: auto;
}

html.lenis {
  overflow-x: hidden;
  width: 100%;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}

html {
  scroll-behavior: smooth;
}

.nav-bar {
  background-image: linear-gradient(
    to right,
    #54b3d6,
    #54b3d6 50%,
    #f6f6f6 50%
  );
  background-size: 200% 100%;
  background-position: -100%;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 16px;
  font-weight: bold;
  font-family: "Noto Serif JP", serif;
  display: inline-block;
  padding: 5px 0;
  position: relative;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
}

.nav-bar:before {
  content: "";
  background: #54b3d6;
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  transition: all 0.3s ease-in-out;
}

.nav-bar:hover {
  background-position: 0;
}

.nav-bar:hover::before {
  width: 100%;
}

/* Presentational Styles */

/* li {
 
  color: rgb(209, 208, 208);
  transition: all 0.2s ease-in-out;
}

li:hover {
  color: rgb(255, 255, 255);
  cursor: pointer;
} */

@media (max-width: 1024px) {
  li {
    font-size: 14px;
    margin-left: 5px;
    margin-right: 5px;
  }
}

@media (max-width: 768px) {
  li {
    font-size: 12px;
    margin-left: 5px;
    margin-right: 5px;
  }
}
@media (max-width: 480px) {
  li {
    font-size: 10px;
    margin-left: 5px;
    margin-right: 5px;
  }
}
